[Desktop Entry]
Name=DSB Autostart
Exec=dsbautostart
Icon=system-run
Terminal=false
StartupNotify=false
Type=Application
Categories=Settings;System;Utility;Application

