[Desktop Entry]
Name=DSBAutostart
Exec=dsbautostart
Icon=system-run
Terminal=false
StartupNotify=false
Type=Application
Categories=Settings;DesktopSettings;
