[Desktop Entry]
Name=Autostart Settings
Name[de]=Autostart-Einstellungen
Exec=dsbautostart
Icon=system-run
Terminal=false
StartupNotify=false
Type=Application
Categories=Settings;DesktopSettings;
